@import '~node_modules/modern-normalize/modern-normalize.css';
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.container {
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 76px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 71px;
    max-width: 1024px;
    margin: 0 auto;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 46px 0 43px 0;
}
.header__nav {
  padding-top: 12px;
  display: flex;
}
.header__nav--item {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1716666667;
}
.header__nav--item:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.header__nav--item:not(:last-child) {
  margin-right: 39px;
}
.header__brand {
  display: flex;
}
.header__brand--logo {
  width: 24px;
  height: 24px;
}
.header__brand--logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.header__brand--name {
  display: none;
}
.header__brand--name:hover {
  color: #ff6b01;
  transition: color 0.3s ease;
}

.current {
  border-bottom: 3px solid #ff6b01;
}

.header-background {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/home-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 230px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .header-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/home-mobile@2x.jpg);
  }
}
.search-form {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.search-form__input {
  font-size: 14px;
  line-height: 1.1721428571;
  outline: none;
  width: 280px;
  border: none;
  color: #ffffff;
  background: transparent;
  border-bottom: 0.5px solid #ffffff;
  height: 20px;
}
.search-form__input::-moz-placeholder {
  color: #ffffff;
}
.search-form__input:-ms-input-placeholder {
  color: #ffffff;
}
.search-form__input::placeholder {
  color: #ffffff;
}

.submit-btn {
  margin-left: -20px;
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
}
.submit-btn:hover {
  transform: scale(1.05);
  transition: transform ease 0.3s;
}
.submit-btn__icon {
  width: 12px;
  height: 12px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 41px 0 37px 0;
  }
  .header__nav {
    padding-top: 17px;
  }
  .header__brand {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    text-decoration: none;
  }
  .header__brand--name {
    color: #ffffff;
    font-size: 30px;
    line-height: 1.172;
    display: block;
  }
  .header-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/home-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/home-tablet@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .search-form__input {
    min-width: 336px;
  }
}
@media screen and (min-width: 1024px) {
  .header-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/home-desktop.jpg);
  }
}
@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .header-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/home-desktop@2x.jpg);
  }
}
.gallery,
.libraryData {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0px;
  justify-content: center;
}

.move_gallery {
  padding: 20px 20px;
}
.move_gallery__item {
  list-style: none;
  padding-bottom: 20px;
  font-weight: 500;
  line-height: 16px;
  font-size: 12px;
  width: 265px;
  cursor: pointer;
}
.move_gallery__item:hover {
  border-radius: 5px;
  transform: scale(1.05);
  transition: transform ease 0.3s;
  box-shadow: 0px 0px 17px 0px rgb(144, 144, 148);
}
.move_gallery__image {
  width: 100%;
  height: 398px;
  border-radius: 5px;
  display: block;
  padding: 0 0 10px 0;
}
.move_gallery__title {
  padding: 0 0 0 5px;
  text-transform: uppercase;
  white-space: nowrap;
  width: 265px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.move_gallery__genres {
  padding: 0 0 0 5px;
  color: #ff6b08;
}

.footer {
  background: #f7f7f7;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.footer__content {
  font-size: 14px;
  line-height: 1.1721428571;
  text-align: center;
  color: #545454;
}
.footer__content--btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  text-decoration-thickness: 0.75px;
  color: #545454;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 77px;
    justify-content: center;
  }
  .footer__content {
    display: flex;
    justify-content: center;
  }
}
.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.library-btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333;
  text-align: center;
  width: 130px;
  height: 44px;
  border-radius: 5px;
  color: #ffffff;
  background: transparent;
  border: solid 1px #ffffff;
  cursor: pointer;
}
.library-btn:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.library-background {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 230px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .library-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .library-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .library-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .library-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-desktop.jpg);
  }
}
@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .library-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-desktop@2x.jpg);
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  transition: opacity 250ms linear, visibility 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear;
  transform: scale(1);
  z-index: 999;
}

.footer-modal {
  z-index: 999;
  position: absolute;
  background-color: #f7f7f7;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 20 20px;
  top: 50%;
  left: 50%;
  min-width: 280px;
}
.footer-modal__close-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.gh-icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.gh-icon:hover {
  fill: #ff6b01;
  transition: fill 0.3s ease;
}

.contributors-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contributors-list__item {
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contributors-list__item:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 30px 0px rgb(78, 78, 80);
  transition: ease 0.5s;
}
.contributors-list__item--name {
  font-size: 24px;
  color: black;
}
.contributors-list__item--role {
  color: #545454;
}
.contributors-list__title {
  text-align: center;
  font-size: 30px;
}

.gallery-modal {
  width: 280px;
  background: #ffffff;
  border-radius: 5px;
  padding: 48px 20px 41px 20px;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
}
.gallery-modal__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.172;
  color: #000000;
}
.gallery-modal__close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 10px;
  background-image: url("../images/close.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.gallery-modal__close-btn:hover {
  transform: scale(1.1);
  transition: transform ease 0.3s;
}
.gallery-modal__img {
  width: 240px;
  border-radius: 5px 5px 0px 0px;
}
.gallery-modal__about {
  padding: 20px 0 10px 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333;
}
.gallery-modal__overview {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.6666666667;
  padding: 0 0 21px 0;
}

.modal-btns {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.table-data__row:not(:last-child) {
  padding: 0 0 10px 0;
}
.table-data__name {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333;
  color: #545454;
  width: 100px;
}
.table-data__value {
  font-size: 12px;
  line-height: 1.3333333333;
  color: #000000;
  font-weight: 500;
}

.rating {
  padding: 0 5px;
  background-color: #ff6b01;
  color: #ffffff;
  border-radius: 5px;
}

.modal-ls-btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333;
  text-align: center;
  width: 112.58px;
  height: 44px;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
}
.modal-ls-btn:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.ls-marked {
  background-color: #ff6b01;
  color: #ffffff;
  border: none;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

@media screen and (min-width: 768px) {
  .gallery-modal {
    width: 618px;
    display: flex;
    gap: 32px;
    padding: 42px 28px 40px 30px;
  }
  .gallery-modal__img {
    width: 264px;
  }
}
@media screen and (min-width: 1024px) {
  .modal-btns {
    justify-content: left;
    gap: 15px;
  }
  .gallery-modal {
    width: 882px;
    background: #ffffff;
    border-radius: 5px;
    padding: 50px 30px 40px 30px;
    overflow-y: auto;
  }
  .gallery-modal__title {
    font-size: 30px;
    line-height: 1.172;
  }
  .gallery-modal__img {
    width: 396px;
    border-radius: 5px 5px 0px 0px;
  }
  .gallery-modal__about {
    padding: 20px 0 10px 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333;
  }
  .gallery-modal__overview {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6666666667;
    padding: 0 0 21px 0;
  }
}
.pagination-container {
  padding: 0 0 25px 0;
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  gap: 3px;
  padding: 0 20px;
}
.pagination__item {
  list-style: none;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.pagination__item--current {
  width: 40px;
  height: 40px;
  list-style: none;
  border-radius: 5px;
  color: #fff;
  background: #ff6b08;
}
.pagination__item:first-child {
  background: #f7f7f7;
}

.box {
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  background-color: transparent;
  cursor: pointer;
}
.box:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px 0px rgb(144, 144, 148);
  transition: all 0.3s ease;
}

.pagination-prev {
  background-color: #f7f7f7;
}

.pagination-next {
  background-color: #f7f7f7;
}

.pagination-currentPage {
  color: #fff;
  background-color: #ff6b08;
}/*# sourceMappingURL=index.css.map */