@import '~node_modules/modern-normalize/modern-normalize.css';
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 76px;
    padding-right: 76px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding-left: 71px;
    padding-right: 71px;
    max-width: 1024px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 43px;
  text-align: -webkit-center;
}
.header__nav {
  padding-top: 12px;
}
.header__nav--item {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1716666667;
}
.header__nav--item:not(:last-child) {
  margin-right: 39px;
}
.header__brand {
  display: flex;
}
.header__brand--logo {
  width: 24px;
  height: 24px;
}
.header__brand--name {
  display: none;
}

.current {
  border-bottom: 3px solid #ff6b01;
}

.header-background {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/home-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 230px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .header-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/home-mobile@2x.jpg);
  }
}
.search-form {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.search-form__input {
  font-size: 14px;
  line-height: 1.1721428571;
  outline: none;
  min-width: 280px;
  border: none;
  color: #ffffff;
  background: transparent;
  border-bottom: 0.5px solid #ffffff;
  height: 20px;
}
.search-form__input::-moz-placeholder {
  color: #ffffff;
}
.search-form__input:-ms-input-placeholder {
  color: #ffffff;
}
.search-form__input::placeholder {
  color: #ffffff;
}

.submit-btn {
  margin-left: -20px;
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
}
.submit-btn__icon {
  width: 12px;
  height: 12px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 41px;
    padding-bottom: 37px;
  }
  .header__nav {
    padding-top: 17px;
  }
  .header__brand {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    text-decoration: none;
  }
  .header__brand--name {
    color: #ffffff;
    font-size: 30px;
    line-height: 1.172;
    display: block;
  }
  .header-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/home-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 230px;
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/home-tablet@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .search-form__input {
    min-width: 336px;
  }
}
@media screen and (min-width: 1024px) {
  .header-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/home-desktop.jpg);
  }
}
@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .header-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/home-desktop@2x.jpg);
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer {
  background: #f7f7f7;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.footer__content {
  font-size: 14px;
  line-height: 1.1721428571;
  text-align: center;
  color: #545454;
}
.footer__content--btn {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  text-decoration-thickness: 0.75px;
  color: #545454;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 77px;
    justify-content: center;
  }
  .footer__content {
    display: flex;
    justify-content: center;
  }
}
.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.library-btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333;
  text-align: center;
  width: 130px;
  height: 44px;
  border-radius: 5px;
  color: #ffffff;
  background: transparent;
  border: solid 1px #ffffff;
}

.library-background {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 230px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .library-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .library-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 230px;
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .library-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .library-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-desktop.jpg);
  }
}
@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .library-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-desktop@2x.jpg);
  }
}/*# sourceMappingURL=index.css.map */