<header>
  <div class="container">
    <div class="header">
      <div class="header__brand">
        <svg class="header__brand--logo"><use></use></svg>
        <p class="header__brand--name">Filmoteka</p>
      </div>
      <nav class="header__nav">
        <a href="" class="header__nav--item">Home</a>
        <a href="" class="header__nav--item">My Library</a>
      </nav>
    </div>
    <input class="search-input" placeholder="Search" />
  </div>
</header>
<main>
  <div class="container">
    <div class="gallery"></div>
  </div>
</main>
<footer></footer>
