<header class="header-background">
  <div class="container">
    <div class="header">
      <a class="header__brand" href="index.html">
        <svg class="header__brand--logo">
          <use href="./images/symbol-defs.svg#icon-film"></use>
        </svg>
        <p class="header__brand--name">Filmoteka</p>
      </a>
      <nav class="header__nav">
        <a href="index.html" class="header__nav--item current">Home</a>
        <a href="mylibrary.html" class="header__nav--item">My Library</a>
      </nav>
    </div>
    <form class="search-form">
      <input class="search-form__input" placeholder="Search" />
      <button type="submit" class="submit-btn">
        <svg class="submit-btn__icon">
          <use href="./images/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
