.footer {
  background: getColor(background-color-grey);
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  &__content {
    font-size: 14px;
    line-height: calc(16.41 / 14);
    text-align: center;
    color: getColor(text-color-grey);
    &--btn {
      cursor: pointer;
      background-color: transparent;
      border: none;
      text-decoration: underline;
      text-decoration-thickness: 0.75px;
      color: getColor(text-color-grey);
    }
  }
}
@media screen and (min-width: 768px) {
  .footer {
    height: 77px;
    justify-content: center;
    &__content {
      display: flex;
      justify-content: center;
    }
  }
}
