.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__nav {
    &--item:not(:last-child) {
      padding-right: 39px;
    }
  }
  &__brand {
    display: flex;
    &--logo {
      width: 40px;
      height: 40px;
    }
  }
}
.search-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}
